<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad voluptate magnam, ipsum at consequatur qui quo facilis harum illo et blanditiis sint vel eveniet molestias aliquid consequuntur? Ad, consequatur sequi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque non, minima debitis, iste modi tenetur vel voluptate nam unde sunt nisi magni vitae ut? Consequuntur earum quis illo alias harum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime temporibus aspernatur eius ipsa assumenda, nisi nam pariatur aliquam quasi corporis sed, sint eaque, quas placeat saepe ipsam tenetur eligendi praesentium?</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>